* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-view {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    display: grid;
    height: 100vh;
    justify-items: center;
    align-items: center;
    background-color: #196377;
    
    transition: background-color 4s;
}

.instruction {
    cursor: pointer;
    font-size: 3rem;
    text-align: center;
    color: rgb(255, 255, 255);
    transition: transform 4s, opacity 500ms;
    -webkit-transform: translateZ(0);
}


.counter {
    cursor: pointer;
    margin-top: 10px;
    font-size: 5rem;
    text-align: center;
    color: white;
    transition: transform 4s;
    -webkit-transform: translateZ(0);
}

.stopwatch {
    position: fixed;
    left: 0;
    top: 0;
    color:#b0ccd1;
    margin-top: 10px;
    margin-left: 10px;
}



